header{
    background-color: black;
    text-align: center;
    border-style: solid;
    
}
body{
    color: white;
    text-align: center;
    background-color: black;
}
section img{
    height: 30em;
    border-radius: 60px;
}
section{
    display: flex;
    justify-content: center;
    padding: 50px;

}
a{
    color: white
}
